<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <connectionStrings>
    <add name="UniOPI.Properties.Settings.UNIBCSConnectionString"
      connectionString="Data Source=118.163.246.35;Initial Catalog=UNIBCS;User ID=sa;Password=UniWorkS2298"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCSConnectionString1"
      connectionString="Data Source=REBECCA-VAIO\SQLEXPRESS;Initial Catalog=UNIBCS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCSConnectionString2"
      connectionString="Data Source=59.124.28.62,1434;Initial Catalog=UNIBCS;Persist Security Info=True;User ID=sa;Password=unicom22988123"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCSConnectionString3"
      connectionString="Data Source=REBECCA-VAIO\SQLEXPRESS;Initial Catalog=UNIBCS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCSConnectionString4"
      connectionString="Data Source=59.124.28.62,1434;Initial Catalog=UNIBCS;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString"
      connectionString="Data Source=59.124.28.62,1442;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa;Password=unicom22988123"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCSConnectionString5"
      connectionString="Data Source=59.124.28.62,1442;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString1"
      connectionString="Data Source=REX-PC;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString2"
      connectionString="Data Source=REBECCA-PC\SQLEXPRESS2012;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa;Password=unicom22988123"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCSConnectionString6"
      connectionString="Data Source=59.124.28.62,1442;Initial Catalog=UNIBCS_t3;User ID=sa;Password=unicom22988123"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString3"
      connectionString="Data Source=localhost;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString4"
      connectionString="Data Source=REBECCA-PC\SQLEXPRESS2012;Initial Catalog=UNIBCS_t3;User ID=sa;Password=unicom22988123"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString5"
      connectionString="Data Source=REBECCA-PC\SQLEXPRESS2012;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString6"
      connectionString="Data Source=59.124.28.62,1442;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString7"
      connectionString="Data Source=MING-PC\SQLEXPRESS;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString8"
      connectionString="Data Source=MARINE-PC;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString9"
      connectionString="Data Source=MARINE-PC;Initial Catalog=UNIBCS_t3;Persist Security Info=True;User ID=sa;Password=itc123!@#"
      providerName="System.Data.SqlClient" />
    <add name="UniOPI.Properties.Settings.UNIBCS_t3ConnectionString10"
      connectionString="Data Source=NOBUHIKO-PC;Initial Catalog=UNIBCS_t3;User ID=sa;Password=itc123!@#"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <nlog autoReload="true">
    <targets>
      <!--default-wrapper type="AsyncWrapper" queueLimit="50000" overflowAction="Block">
        <wrapper type="RetryingWrapper"/>
      </default-wrapper-->
      <target name="TraceLog"
              type="File"
              deleteOldFileOnStartup="false"
              layout="${longdate}  ${message}"
              fileName="D:/UnicomLog/{ServerName}/OPI/${date:format=yyyyMMdd}/Trace/OPI_Trace_${date:format=HH}.txt"
              archiveFileName="D:/UnicomLog/{ServerName}/OPI/${date:format=yyyyMMdd}/Trace/OPI_Trace_${date:format=HH}.{#####}.txt"
              archiveAboveSize="10485760"
              archiveNumbering="Sequence"
              MaxArchiveFiles="20"
              concurrentWrites="true"
              keepFileOpen="false"
            />
      <target name="ErrorLog"
               type="File"
               deleteOldFileOnStartup="false"
               layout="${longdate}  ${message}"
               fileName="D:/UnicomLog/{ServerName}/OPI/${date:format=yyyyMMdd}/Error/OPI_Error_${date:format=HH}.txt"
               archiveFileName="D:/UnicomLog/{ServerName}/OPI/${date:format=yyyyMMdd}/Error/OPI_Error_${date:format=HH}.{#####}.txt"
               archiveAboveSize="10485760"
               archiveNumbering="Sequence"
               MaxArchiveFiles="20"
               concurrentWrites="true"
               keepFileOpen="false"

            />
      <target name="InfoLog"
            type="File"
            deleteOldFileOnStartup="false"
            layout="${longdate}  ${message}"
            fileName="D:/UnicomLog/{ServerName}/OPI/${date:format=yyyyMMdd}/Info/OPI_Info_${date:format=HH}.txt"
            archiveFileName="D:/UnicomLog/{ServerName}/OPI/${date:format=yyyyMMdd}/Info/OPI_Info_${date:format=HH}.{#####}.txt"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            MaxArchiveFiles="20"
            concurrentWrites="true"
            keepFileOpen="false"

            />
    </targets>
    <!--ClientTraceLog的全域變數，決定要記錄到哪個層級-->
    <variable name="TraceGlobalLevelLog" value="(level == LogLevel.Trace)"/>
    <variable name="TraceGlobalLevelIgnore" value="(level == LogLevel.Debug) or (level == LogLevel.Info) or (level == LogLevel.Warn) or (level == LogLevel.Error) or (level == LogLevel.Fatal)  "/>
    <variable name="InfoGlobalLevelLog" value="(level == LogLevel.Info)"/>
    <variable name="InfoGlobalLevelIgnore" value="(level == LogLevel.Debug) or (level == LogLevel.Trace) or (level == LogLevel.Warn) or (level == LogLevel.Error) or (level == LogLevel.Fatal)  "/>
    <rules>
      <!--Trace Log -->
      <logger name="*" minlevel="Trace" writeTo="TraceLog">
        <!-- minlevel : Trace->Debug->Info->Warn->Error->Fatal -->
        <filters>
          <when condition="${TraceGlobalLevelLog}"  action="Log"/>
          <when condition="${TraceGlobalLevelIgnore}"  action="Ignore"/>
        </filters>
      </logger>
      <!--Error Log -->
      <logger name="*" levels="Warn,Error" writeTo="ErrorLog">

      </logger>
      <!--Info Log -->
      <logger name="*" levels="Info" writeTo="InfoLog">
      </logger>
    </rules>
  </nlog>
  <!-- 
  layout="發生時間：${longdate}${newline}
        類別：${logger}${newline}
        訊息：${message}${newline}
        方法：${stacktrace:format=DetailedFlat}${newline}
        例外堆疊：${exception:format=ToString}${newline}
  -->
  
  <appSettings>
    <!--預設顯示的line id -->
    <add key="FabType"  value="CELL"  />
    <add key="LineType"  value="CBPPK"  />
    <add key="LineID"  value="CBPPK100"  />
    <!--自动登出时间设定分钟为单位-->
    <add key="AutoLogoutTime"  value="30"  />
    <!--永不自动登出User设定-->
    <add key="SuperUserList" value="13266;22161;31536;20762" />
    <!--設定路徑-->
    <add key="LayoutFolder"  value="..\Config\OPI\Layout\"  />
    <add key="RobotFolder"   value="..\Config\OPI\Robot\"  />
    <add key="ParamFolder"   value="..\Config\OPI\Param\"  />
    <add key="TimingChartFolder"   value="..\Config\OPI\TimingChart\"  />
    <add key="IsUAC"   value="N"  />
    <add key="OPIMaxCount" value="20" />
  </appSettings>
     
</configuration>