<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <nlog autoReload="true">
    <targets>
      <target name="WriteTo"
                type="File"
                deleteOldFileOnStartup ="false"
                layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}"
                fileName="D:/UnicomLog/{ServerName}/${logger}/${date:format=yyyyMMdd}/${level}/${logger}_${level}_${date:format=HH}.log"
                archiveFileName="D:/UnicomLog/{ServerName}/${logger}/${date:format=yyyyMMdd}/${level}/${logger}_${level}_${date:format=HH}.{#####}.log"
                archiveAboveSize="10485760"
                archiveNumbering="Sequence"
                MaxArchiveFiles="40"
                concurrentWrites="true"
                keepFileOpen="false"
            />
      <target name="WriteToInfo"
              type="File"
              deleteOldFileOnStartup ="false"
              layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}"
              fileName="D:/UnicomLog/{ServerName}/${logger}/${date:format=yyyyMMdd}/Info/${logger}_Info_${date:format=HH}.log"
              archiveFileName="D:/UnicomLog/{ServerName}/${logger}/${date:format=yyyyMMdd}/Info/${logger}_Info_${date:format=HH}.{#####}.log"
              archiveAboveSize="10485760"
              archiveNumbering="Sequence"
              MaxArchiveFiles="40"
              concurrentWrites="true"
              keepFileOpen="false"
            />
    </targets>
    
    <rules>
      
      <logger name="PLCAgent" levels="Info,Error,Trace" writeTo="WriteTo" />
      <logger name="PLCAgent" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="TCPNK180" levels="Info,Error,Trace" writeTo="WriteTo" />
      <logger name="TCPNK180" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="TCPDN130" levels="Info,Error,Trace" writeTo="WriteTo" />
      <logger name="TCPDN130" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="TBCVD120" levels="Info,Error,Trace" writeTo="WriteTo" />
      <logger name="TBCVD120" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />
      <logger name="FBMTP1F0" levels="Info,Error,Trace" writeTo="WriteTo" />
      <logger name="FBMTP1F0" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="OEEAgent" levels="Info,Error,Trace" writeTo="WriteTo"/>
      <logger name="OEEAgent" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />
      
      <logger name="EDAAgent" levels="Info,Error,Trace" writeTo="WriteTo"/>
      <logger name="EDAAgent" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="EDAAgent2" levels="Info,Error,Trace" writeTo="WriteTo"/>
      <logger name="EDAAgent2" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="APCAgent" levels="Info,Error,Trace" writeTo="WriteTo"/>
      <logger name="APCAgent" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="MESAgent" levels="Info,Error,Trace" writeTo="WriteTo"/>
      <logger name="MESAgent" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="OPIAgent" levels="Info,Error,Trace" writeTo="WriteTo"/>
      <logger name="OPIAgent" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="SerialActiveAgent" levels="Info,Error,Trace" writeTo="WriteTo"/>
      <logger name="SerialActiveAgent" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="SerialPassiveAgent" levels="Info,Error,Trace" writeTo="WriteTo"/>
      <logger name="SerialPassiveAgent" levels="Debug,Warn,Error" writeTo="WriteToInfo" final ="true" />

      <logger name="CORE" levels="Info,Error" writeTo="WriteTo" />
      <logger name="CORE" levels="Error,Warn,Debug" writeTo="WriteToInfo" final ="true" />
      
      <logger name="Service" levels="Error,Trace" writeTo="WriteTo" />
      <logger name="Service" levels="Error,Debug,Warn,Info" writeTo="WriteToInfo" final ="true" />

      <logger name="PerformanceService" levels="Error" writeTo="WriteTo" />
      <logger name="PerformanceService" levels="Error,Debug,Warn,Info" writeTo="WriteToInfo" final ="true" />
      
      <logger name="RobotService" levels="Error,Trace" writeTo="WriteTo" />
      <logger name="RobotService" levels="Error,Debug,Warn,Info" writeTo="WriteToInfo" final ="true" />

      <logger name="SaveFileThread" levels="Error,Trace" writeTo="WriteTo" />
      <logger name="SaveFileThread" levels="Error,Debug,Warn,Info" writeTo="WriteToInfo" final ="true" />
    </rules>
  </nlog>
  
  <appSettings>
    <!--监测间隔时间(区间：10分钟(600000)~2小时(7200000))-->
    <add key="MonitorInterval" value="600000" />
    <!--多个应用程式名称用逗号隔开-->
    <add key="MonitorProcessorName" value="UniBCS,UniOPI" />
    <add key="UserName" value="CIM"/>
    <add key="Password" value="123456"/>
  </appSettings>
</configuration>